@charset "euc-kr";

.golf_zone{background-color: #ebedef;}
.golf_zone .mb8{margin-bottom: 8px;}
.golf_zone .golf_cont{background-color: #fff;padding: 25px 0;}
.golf_zone .golf_cont .golf_cont_tit{font-size: 14px;font-family:"notokr-bold";color: #222;padding-left: 10px;margin-bottom: 15px;}

.golf_zone .logo_wrap{margin-top: 1px;}
.logo_wrap img{width: 100%;display:block;}

.golf_zone .hot_brand{background-color: #fff;padding: 25px 0;}
.golf_zone .hot_brand .hot_tit{font-size: 14px;font-family:"notokr-bold";color: #222;text-align: center;}
.golf_zone .hot_brand .hot_slide{padding: 20px 0 0 20px;}
.golf_zone .hot_brand .hot_slide li{width: 24.5vw;}
.golf_zone .hot_brand .hot_slide li a{display:block;}
.golf_zone .hot_brand .hot_slide li a .hot_img_box{width: 100%;margin-bottom: 17px;}
.golf_zone .hot_brand .hot_slide li a .hot_img_box img{width: 100%;}
.golf_zone .hot_brand .hot_slide li a .hot_txt{display:block;font-size: 11px;font-family:"notokr-bold";color: #333;text-align: center;}

.golf_zone .deal_wrap{margin-bottom: 40px;}
.golf_zone .deal_wrap .deal_slide{padding-bottom: 30px;}
.golf_zone .deal_wrap .deal_slide li{background-color: #fff;width: 260px;border-radius: 10px;}
.golf_zone .deal_wrap .deal_slide li a{display:block;text-align: center;padding: 17px 0;}
.golf_zone .deal_wrap .deal_slide li a .top_tit{font-size: 16px;font-family:"notokr-medium";color: #222;margin-bottom: 5px;}
.golf_zone .deal_wrap .deal_slide li a .top_subtit{font-size: 11px;font-family:"notokr-medium";color: #a6a6a6;margin-bottom: 42px;}
.golf_zone .deal_wrap .deal_slide li a .deal_img_box{width: 202px;height: 202px;border-radius: 50%;margin: 0 auto 20px auto;position: relative;}
.golf_zone .deal_wrap .deal_slide li a .deal_img_box .deal_list_img{display:block;width: 100%;}
.golf_zone .deal_wrap .deal_slide li a .deal_img_box::after{content: "";position: absolute;top: -25px;left: 50%;transform: translateX(-50%);width: 72px;height: 51px;background: url('//img.ezwelfare.net/welfare_mall/golfZone/golf_deal_icon.png') no-repeat 100%/cover;}
.golf_zone .deal_wrap .deal_slide li a .list_tit{font-size:14px;font-family:'notokr-bold';color:#222;margin-bottom: 13px;}
.golf_zone .deal_wrap .deal_slide li a .list_desc{font-size:11px;font-family:'notokr-regular';color:#444;margin-bottom: 15px;line-height: 15px;height: 30px;text-overflow:ellipsis;overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;}
.golf_zone .deal_wrap .deal_slide li a .list_price{font-size:16px;font-family:'notokr-bold';color:#222;}
.golf_zone .deal_wrap .deal_slide li a .list_price span{font-size:10px;font-family:'notokr-medium';color:#4ca208;display:inline-block;margin-right: 3px;}
.golf_zone .deal_wrap .deal_slide .swiper-pagination-bullets{bottom: 0;}
.golf_zone .deal_wrap .deal_slide .swiper-pagination-bullets span{width: 8px;height: 8px;border-radius: 50%;background-color: #ddd;opacity: 1;}
.golf_zone .deal_wrap .deal_slide .swiper-pagination-bullets span.swiper-pagination-bullet-active{width: 40px;border-radius: 4px;background-color: #5aa402;}

.golf_zone .md_theme ul li{margin-bottom: 27px;}
.golf_zone .md_theme ul li:last-child{margin-bottom: 0;}
.golf_zone .md_theme ul li a{display: block;margin: 0 10px;}
.golf_zone .md_theme ul li a .theme_img{border-radius: 10px;margin-bottom: 15px;}
.golf_zone .md_theme ul li a .theme_img img{display: block;width: 100%;}
.golf_zone .md_theme ul li a .theme_prd_tit{font-size: 13px;font-family:"notokr-bold";color: #1e1e1e;margin-bottom: 10px;padding-left: 10px;}
.golf_zone .md_theme ul li a .theme_prd_desc{font-size: 11px;font-family:"notokr-regular";color: #999;line-height: 15px;padding-left: 10px;height: 30px;text-overflow:ellipsis;overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;}

.golf_zone .slide_4x4_wrap .slide_4x4{margin: 0 0 0 10px;padding-bottom: 20px;}
.golf_zone .slide_4x4_wrap .slide_4x4 li{font-size: 0;}
.golf_zone .slide_4x4_wrap .slide_4x4 li a{display: inline-block;width: calc(50% - 10px);margin-right: 10px;}
.golf_zone .slide_4x4_wrap .slide_4x4 li a:nth-of-type(2n){margin-right: 0;}
.golf_zone .slide_4x4_wrap .slide_4x4 li a .slide_4x4_img{margin-bottom: 13px;border-radius: 10px;}
.golf_zone .slide_4x4_wrap .slide_4x4 li a .slide_4x4_img img{display: block;width: 100%;}
.golf_zone .slide_4x4_wrap .slide_4x4 li a .slide_4x4_prd_txt{font-size: 13px;font-family:"notokr-regular";color: #222;margin-bottom: 7px;line-height: 15px;padding-left: 5px;height: 30px;text-overflow:ellipsis;overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;}
.golf_zone .slide_4x4_wrap .slide_4x4 li a .slide_4x4_prd_price{font-size: 14px;font-family:"notokr-bold";color: #1e1e1e;padding-left: 5px;}
.golf_zone .slide_4x4_wrap .slide_4x4 li a .slide_4x4_prd_price span{font-size: 13px;font-family:"notokr-regular";}
.golf_zone .slide_4x4 > .swiper-pagination-progressbar{top:unset;bottom: 0;height: 3px;background-color: #999;width: calc(100% - 10px);}
.golf_zone .slide_4x4 > .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background-color: #333;}

.golf_zone .brand_sale .brand_sale_slide{margin: 0 0 0 10px;}
.golf_zone .brand_sale .brand_sale_slide li{width: 70%;}
.golf_zone .brand_sale .brand_sale_slide li .sale_top{position: relative;margin-bottom: 10px;}
.golf_zone .brand_sale .brand_sale_slide li .sale_top a{display: block;}
.golf_zone .brand_sale .brand_sale_slide li .sale_top .sale_b_img{display:block;width: 100%;border-radius: 10px;}
.golf_zone .brand_sale .brand_sale_slide li .sale_top .sale_txt_box{position: absolute;left: 0;bottom: 0;padding: 15px 10px;max-width: 70%;background-color: #fff;border-radius: 0 10px 0 0;}
.golf_zone .brand_sale .brand_sale_slide li .sale_top .sale_txt_box .sale_txt{font-size:12px;font-family:'notokr-bold';color:#333;margin-bottom: 10px;}
.golf_zone .brand_sale .brand_sale_slide li .sale_top .sale_txt_box .sale_subtxt01{font-size:11px;font-family:'notokr-regular';color:#666;margin-bottom: 5px;}
.golf_zone .brand_sale .brand_sale_slide li .sale_top .sale_txt_box .sale_subtxt02{font-size:11px;font-family:'notokr-regular';color:#666;}
.golf_zone .brand_sale .brand_sale_slide li .sale_bottom ul{font-size:0;}
.golf_zone .brand_sale .brand_sale_slide li .sale_bottom ul li{display:inline-block;width: calc(50% - 5px);margin-right: 10px;}
.golf_zone .brand_sale .brand_sale_slide li .sale_bottom ul li:last-child{margin-right: 0;}
.golf_zone .brand_sale .brand_sale_slide li .sale_bottom ul li a{display:block;}
.golf_zone .brand_sale .brand_sale_slide li .sale_bottom ul li a .sale_s_img_box{width: 100%;border-radius: 10px;margin-bottom: 10px;}
.golf_zone .brand_sale .brand_sale_slide li .sale_bottom ul li a .sale_s_img_box img{display:block;width: 100%;}
.golf_zone .brand_sale .brand_sale_slide li .sale_bottom ul li a .bottom_txt{font-size:12px;font-family:'notokr-regular';color:#222;margin-bottom: 7px;line-height: 15px;height: 30px;text-overflow:ellipsis;overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;}
.golf_zone .brand_sale .brand_sale_slide li .sale_bottom ul li a .bottom_price{font-size:13px;font-family:'notokr-bold';color:#1e1e1e;}
.golf_zone .brand_sale .brand_sale_slide li .sale_bottom ul li a .bottom_price span{font-size:12px;font-family:'notokr-regular';}

.golf_zone .ranking_tab .ranking_tab_btn{margin-bottom: 15px;}
.golf_zone .ranking_tab .ranking_tab_btn ul{padding: 0 10px;font-size: 0;overflow-x: auto;white-space: nowrap;}
.golf_zone .ranking_tab .ranking_tab_btn ul::-webkit-scrollbar{display: none;}
.golf_zone .ranking_tab .ranking_tab_btn ul li{display: inline-block;margin-right: 15px;}
.golf_zone .ranking_tab .ranking_tab_btn ul li:last-child{margin-right: 0;}
.golf_zone .ranking_tab .ranking_tab_btn ul li a{display: block;padding: 11px 0;font-size:12px;font-family:'notokr-bold';color:#333;}
.golf_zone .ranking_tab .ranking_tab_btn ul li.on a{border-bottom: 2px solid #5aa402; color:#5aa402;}
.golf_zone .ranking_tab .ranking_tab_cont{margin: 0 0 0 10px;}
.golf_zone .ranking_tab .ranking_tab_cont .tab_content{display: none;}
.golf_zone .ranking_tab .ranking_tab_cont .tab_content.on{display: block;}
.golf_zone .ranking_tab .ranking_tab_cont .common_ranking_slide li{width: 35%;}
.golf_zone .ranking_tab .ranking_tab_cont .common_ranking_slide li a{display: block;margin-bottom: 20px;position: relative;}
.golf_zone .ranking_tab .ranking_tab_cont .common_ranking_slide li a .ranking_num{position: absolute;top: 0;left: 0;display: block;background-color: #333;font-size:14px;font-family:'notokr-bold';color: #fff;padding: 7px 9px;}
.golf_zone .ranking_tab .ranking_tab_cont .common_ranking_slide li a:nth-of-type(2n){margin-bottom: 0;}
.golf_zone .ranking_tab .ranking_tab_cont .common_ranking_slide li a .ranking_slide_img{width: 100%;margin-bottom: 12px;}
.golf_zone .ranking_tab .ranking_tab_cont .common_ranking_slide li a .ranking_slide_img img{display:block;width: 100%;}
.golf_zone .ranking_tab .ranking_tab_cont .common_ranking_slide li a .ranking_slide_txt{font-size:11px;font-family:'notokr-regular';color:#222;margin-bottom: 6px;line-height: 15px;height: 30px;text-overflow:ellipsis;overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;}
.golf_zone .ranking_tab .ranking_tab_cont .common_ranking_slide li a .ranking_slide_price{font-size:12px;font-family:'notokr-bold';color:#1e1e1e;}
.golf_zone .ranking_tab .ranking_tab_cont .common_ranking_slide li a .ranking_slide_price span{font-size:11px;font-family:'notokr-regular';}

.golf_zone .gift_golf{position: relative;}
.golf_zone .gift_golf .gift_guide{position: absolute;top: 25px;right: 10px;display: block;font-size:11px;font-family:'notokr-medium';color:#b0b0b0;}
.golf_zone .gift_golf .gift_guide img{display: inline-block;width: 16px;height: 16px;margin-right: 3px;vertical-align: text-bottom;}
.golf_zone .gift_golf .slide_4x4 li a .slide_4x4_img{position: relative;}
.golf_zone .gift_golf .slide_4x4 li a .slide_4x4_img .tag_ic{position: absolute;bottom: -5px;left: 5px;}
.golf_zone .gift_golf .slide_4x4 li a .slide_4x4_img .tag_ic .tag_red_ic{display:inline-block;height:18px;padding:2px 5px 0;color:#fff;font-size:0.688rem;font-style:normal;background:rgba(204,0,1,.7);text-align:center;letter-spacing:-0.02em;}
.golf_zone .gift_golf .slide_4x4 li a .slide_4x4_img .tag_ic .tag_red_ic::before{clear:both;display: block;content:"";background: url(//img.ezwelfare.net/welfare_mobile/real/images/icon/ico_present.png) no-repeat 0 2px;width: 10px;height: 14px;background-size: 100% auto;float: left;margin-right: 2px;}

.golf_zone .golf_lesson .common_ranking_slide{margin: 0 0 0 10px;padding-bottom: 20px;}
.golf_zone .golf_lesson .common_ranking_slide li{width: 35%;}
.golf_zone .golf_lesson .common_ranking_slide li a{display: block;margin-bottom: 20px;}
.golf_zone .golf_lesson .common_ranking_slide li a:nth-of-type(2n){margin-bottom: 0;}
.golf_zone .golf_lesson .common_ranking_slide li a .ranking_slide_img{width: 100%;margin-bottom: 12px;}
.golf_zone .golf_lesson .common_ranking_slide li a .ranking_slide_img img{display:block;width: 100%;}
.golf_zone .golf_lesson .common_ranking_slide li a .ranking_slide_txt{font-size:11px;font-family:'notokr-regular';color:#222;margin-bottom: 6px;line-height: 15px;height: 30px;text-overflow:ellipsis;overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;}
.golf_zone .golf_lesson .common_ranking_slide li a .ranking_slide_price{font-size:12px;font-family:'notokr-bold';color:#1e1e1e;}
.golf_zone .golf_lesson .common_ranking_slide li a .ranking_slide_price span{font-size:11px;font-family:'notokr-regular';}
.golf_zone .golf_lesson .golf_lesson_slide > .swiper-pagination-progressbar{top:unset;bottom: 0;height: 3px;background-color: #999;width: calc(100% - 10px);}
.golf_zone .golf_lesson .golf_lesson_slide > .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background-color: #333;}

footer{text-align: center;padding: 50px 0 45px 0;background-color: #ebedef;border-top: 1px solid #000;}
footer p{font-size:12px;font-family:'notokr-bold';color:#222;padding-bottom: 5px;}